minimum_pre_commit_version: "3.6.0"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.39.1
    hooks:
      - id: eslint
        args: ["--fix"]
        additional_dependencies:
          - eslint@9.39.1
          - typescript@5.9.3
          - typescript-eslint@8.48.0
