minimum_pre_commit_version: "3.6.0"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm prettier --write .
        language: system
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: pnpm eslint . --fix
        language: system
        pass_filenames: false
