minimum_pre_commit_version: '3.6.0'

ci:
  autofix_commit_msg: 'chore: apply automatic fixes from pre-commit hooks'
  autoupdate_commit_msg: 'chore: autoupdate hook versions'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: https://github.com/teneplaysofficial/pre-commit
    rev: v1.0.0
    hooks:
      - id: prettier
